<jnlp spec="$jnlpspec" codebase="http://ccdb-dev-db2.crbs.ucsd.edu/MCB" href="$outputFile">
  <information>
    <title>Multi-ScaleConnnectomeBrowser $project.Version</title>
    <vendor>Whole Brain Project</vendor>
    <homepage href="http://wiki.wholebraincatalog.org/wiki/MCB"/>
    <description>$project.Description</description>
    #if($offlineAllowed)
    <offline-allowed/>
    #end
  </information>
  #if($allPermissions)
  <security>
    <all-permissions/>
  </security>
  #end
  <resources>
    <j2se version="$j2seVersion"
      initial-heap-size="768m"
	max-heap-size="768m"
	href="http://java.sun.com/products/autodl/j2se" />
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>